*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color: transparent;
    border-bottom: solid white 0.5px;
    color: white;
    
}
#logo{
    position: relative;
    left: -60px;
    height: 60px;
    width: 150px;
}
.nav-option{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}
.nav-list{
    margin: 10px 10px;
    list-style: none;
    
}
.suggest{
    position: relative;
    left: 70px;
}
#hero-element {
    height: 100vh;
    background-image: 
        linear-gradient(to right, #051b2d, transparent),
        url('./hero.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 71px;
    z-index: -1;
}
.quote {
    background-color: #ffcc52;
    border: none;
    border-radius: 7px;
    color: white;
    height: 33px;
    width: 116px;
    font-size: 10px;
}
.disc {
    background-color: #ffcc52;
    border: none;
    border-radius: 7px;
    color: white;
    height: 33px;
    width: 116px;
    font-size: 10px;
}
.hero-text h5{
    color: #ffcc52;
    margin-bottom: 15px;
}
.hero-text h1{
    color: white;
    font-size: 60px;
}
.hero-text h4{
    color: white;
    margin-top: 20px;
}
.hero-text u{color: white;}
.hero-text {
    position: relative;
    bottom: 425px;
    left: 100px;
}

.contain {
    height: 335px;
    width: 1086px;
    position: relative;
    bottom: 265px;
    left: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#heading{
    position: relative;
    bottom: 335px;
    left: 500px;
}
#heading h5{
    color: #ffcc52;
    margin-bottom: 15px;
    margin-left: 90px;
}
#heading h3{
    font-size: 45px;
}
.card {
    background: #fff;
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0,0, 1);
    transition: 0.3s;
}
.card button {
    width: 121%;
    background-color: transparent;
    height: 19px;
    position: relative;
    margin-top: 51px;
    border-top: 1px solid #b7abab;
    border-left: none;
    border-bottom: none;
    left: -20px;
}
.card p{
    color: grey;
}
.sec-2-end {
    position: relative;
    bottom: 250px;
    left: 499px;
    color: #869196;
}
#imggee {
    position: relative;
    bottom: 228px;
    left: 465px;
    height: 20px;
    width: 25px;
}
.about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f8fb;
    margin-top: -200px;
}
.about-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    
}
.about-img img{
    border-radius: 10px;
}
#detail-ab h3{
    color: #ffcc52;
}
#detail-ab p{
    color: #869196;
}
#detail-ab{
    padding: 90px 100px 0px 0px ;
}

.about-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
.head h4{
    margin-bottom: 10px;
    margin-top: 20px;
}
.head p{
    color: #869196;
}
.about-detail div img{
    border-radius: 10px;
}
.banner h1{
    color: white;
    position: relative;
    bottom: 200px;
    width: 500px;
    margin-left: 100px;
    
}
.banner input {
    position: relative;
    bottom: 310px;
    left: 1130px;
}
.banner img{
    margin-top: 10px;
    z-index: -1;
}

#baner-detail {
    border: 1px solid red;
    height: 100px;
    width: 850px;
    border-radius: 15px;
    position: relative;
}