*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.nav-bar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 4.375rem;
    background-color: transparent;
    border-bottom: solid white 0.5px;
    color: white;
    
}
.home{
    height: 100vh;
    width: 100%
}
#logo{
    
    height: inherit;
    
}
#logo img {
    margin-top: 4px;
    margin-left: 21px;
    height: 3.75rem;
    width: 9.375rem;
}
.nav-option{
    display: flex;
    justify-content: space-between;
    
}
.nav-option img{
    display: none;
}
.nav-option li{
    margin: 1.25rem 0.625rem;
    list-style: none;
    
}
.quote {
    background-color: #ffcc52;
    border: none;
    border-radius: 0.438rem;
    color: white;
    height: 2.063rem;
    width: 7.25rem;
    font-size: x-small;
}
.suggest{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.suggest img{
    margin-left: 8.9rem;
    margin-top: 1rem;
}
.suggest button{
    margin-top: 1rem;
}
#hero-element {
    height: 100vh;
    background-image: 
        linear-gradient(to right, #051b2d, transparent),
        url('./hero.jpeg' );
    background-size: cover;
    background-position: center;
    position: relative;
    bottom: 4.438rem;
    z-index: -1;
    display: flex;
    align-items: center;
}
#hero-element div{
    margin-left: 10rem;
    width: 25rem;
    color: white;
}

#hero-element h5{
    color: #ffcc52;
}
#hero-element h1{
    font-size: xx-large;
    margin-bottom: 1rem;
}
#hero-element p{
    font-size: small;
    margin-bottom: 1rem;
}
#hero-element button{
    margin-left: -10rem;
    margin-right: 1rem;
}
@media screen and (max-width: 480px) {
    #hero-element {
        background-image: 
        linear-gradient(to right, #051b2d, transparent),
        url('./hero-sma.jpeg' );
        font-size: smaller;
        background-size: cover;
    background-position: center;
    position: relative;
    bottom: 4.438rem;
    z-index: -1;
    display: flex;
    align-items: center;
    height: 100vh;
    }
    #hero-element button{
        display: block;
    }
    
    #hero-element div{
        margin: 0;
        padding-left: 10px;
    }
    .nav-option li{
        display: none;
    }
    .suggest{
        display: none;
    }
    
    
  .nav-option img{
    display: inline;
    height: 45px;
    width: 45px;
    margin-left: 20rem;
  }
}
.card {
    background: #fff;
    width: 200px;
    height: 250px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0,0, 1);
    transition: 0.3s;
}
.service{
    display: grid;
    grid-template-rows: auto 20.938rem auto;
    justify-content: center;
    margin-bottom: 1rem;
}
.contain{
    width: 1086px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.card button {
    width: 121%;
    background-color: transparent;
    height: 1.188rem;
    position: relative;
    margin-top: 3.188rem;
    border-top: 1px solid #b7abab;
    border-left: none;
    border-bottom: none;
    border-right: none;
    left: -1.25rem;
}
#heading{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}
#heading h5{
    color: #ffcc52;
    margin-left: 6rem;
    
    

}
#heading h3{
    font-size: 2.813rem;
    margin-bottom: 1rem;
}
.end-ser{
    display: flex;
    justify-content: center;
}
.sec-2-end {
    
    color: #869196;
}
#imggee {
    
    height: 1.25rem;
    width: 1.563rem;
}

.card p{
    color: grey;
}

.about-us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #f2f8fb;
    height: 100vh;

}
.about-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37.5rem;
    
}
.about-img img{
    border-radius: 0.625rem;
}
#detail-ab h3{
    color: #ffcc52;
}
#detail-ab p{
    color: #869196;
}
#detail-ab{
    padding: 5.625rem 6.25rem 0px 0px ;
}

.about-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem;
}
.head h4{
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}
.head p{
    color: #869196;
}
.about-detail div img{
    border-radius: 0.625rem;
}
.banner h1{
    color: white;
    width: 31.25rem;
    margin-top: 3rem;
    
}
.banner button {
    width: auto;
    padding-left: 0.65rem;
    padding-right: 0.65rem;
    margin-top: 3rem;
    
}
.banner {
    background-image: 
        linear-gradient(to right, #051b2d, transparent),
        url('./banner.avif' );
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    width: 98vw;
    z-index: -1;
}

.baner-detais {
    height: 6.25rem;
    width: 53.125rem;
    border-radius: 15px;
    position: relative;
    top: -2.3rem;
    left: 18rem;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0,0, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experi{
    display: grid;
    grid-template-rows: 10rem auto;
    justify-content: center;
}